/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para as seções */
section {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos das seções */
section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para os parágrafos dentro das seções */
section p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilo para as listas dentro das seções */
section ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo para os itens das listas dentro das seções */
section li {
    margin-bottom: 5px;
    font-size: 16px;
}

/* Estilo para os links dentro dos itens de lista */
section li a {
    text-decoration: none;
    color: #0066cc;
}

/* Estilo para os links ao passar o mouse */
section li a:hover {
    text-decoration: underline;
    color: #004080;
}
